In [ ]:
#TASK 12.1

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
arr = np.array(["a","b","c","d","e"])
print(arr)

['a' 'b' 'c' 'd' 'e']

In [10]:
s = pd.Series(arr)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [11]:
type(s)

pandas.core.series.Series

In [12]:
arr = np.array(["a","b","c","d","e"])
s = pd.Series(arr,index=[100,200,300,400,500])
s

100    a
200    b
300    c
400    d
500    e
dtype: object

In [13]:
data ={"a":1,"b":2,"c":3}
s= pd.Series(data)
s

a    1
b    2
c    3
dtype: int64

In [7]:
s= pd.Series(5,index=[0,1,2,3])
s

0    5
1    5
2    5
3    5
dtype: int64

In [8]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
s[0]

1

In [11]:
s[0:3]

0    1
1    2
2    3
dtype: int64

In [12]:
s[-3:]

2    3
3    4
4    5
dtype: int64

In [13]:
s = pd.Series([2,22,222,2222,22222],index=["a","b","c","d","e"])
s

a        2
b       22
c      222
d     2222
e    22222
dtype: int64

In [14]:
s["a"]

2

In [20]:
s[["b","c","e"]]

b       22
c      222
e    22222
dtype: int64

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [21]:
s.values

array([    2,    22,   222,  2222, 22222], dtype=int64)

In [ ]:
#TASK 12.2

In [ ]:
# Del is a keyword and pop is a method 
   #To delete value del uses the index.
   #pop method also uses the index as a parameter to delete.

In [22]:
name =['Rajesh','Ramesh','Roopesh','Rinesh']
mark =[30,27,25,23]
city=['Kochi','Mumbai','Delhi','Banglour']
data={'Name':name,'Mark':mark,'Citys : city'}
indexes=['Rank 1','Rank 2','Rank 3','Rank 4']
df=pd.DataFrame(data,index=indexes)
df

           Name  Mark
Rank 1   Rajesh    30
Rank 2   Ramesh    27
Rank 3  Roopesh    25
Rank 4   Rinesh    23